<header>
    <div class="header-left">
        <h1><a href="/home" class="brand" routerLinkActive="router-link-active">Examino</a></h1>
    </div>
<div style="display: flex; justify-content: center">
    <h2 class="section-title"><strong>Soru Oluştur</strong></h2>
  </div>    <div class="header-right">
        <button (click)="navigateToProfile()" class="custom-btn">Profil</button>
        <button (click)="logout()" class="custom-btn logout-btn">Çıkış Yap</button>
    </div>
</header>
<div class="container mt-5" style="display: flex; justify-content: center;">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-light text-dark">Soru Havuzuna Yeni Soru Ekle</div>
            <div class="card-body">
                <form (ngSubmit)="addQuestionToPool()">


                    <div class="form-group">
                        <label>Soru Metni</label>
                        <textarea class="form-control" [(ngModel)]="newQuestionText" name="newQuestionText"
                            required></textarea>
                    </div>
                    <div class="form-group d-flex align-items-end ">
                        <div class="form-group">
                            <label>Şık Sayısı (4-10)</label>
                            <input type="number" class="form-control" [(ngModel)]="optionCount" name="optionCount"
                                min="4" max="10" style="max-width: 60px; margin-top: 10px;"
                                (change)="updateOptionCount()" />
                        </div>
                        <div class="form-group" style="margin-left: 50px;">
                            <label>Zorluk Seviyesi</label>
                            <select class="form-control" [(ngModel)]="newDifficulty" name="difficulty" required
                                style="width: fit-content; margin-top: 10px;">
                                <option value="" disabled selected>Seçiniz</option>
                                <option value="Kolay">Kolay</option>
                                <option value="Orta">Orta</option>
                                <option value="Zor">Zor</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6 mb-2"
                                *ngFor="let opt of newOptions; let i = index; trackBy: trackByIndex">
                                <label>Seçenek {{ i + 1 }}</label>
                                <input class="form-control" [(ngModel)]="newOptions[i]" [name]="'option' + i"
                                    required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group d-flex align-items-end justify-content-between">


                        <div class="form-group">
                            <label>Doğru Seçeneğin İndeksi</label>
                            <select class="form-control" [(ngModel)]="newCorrectIndex" name="newCorrectIndexe"
                                style="width: fit-content; margin-top: 10px;">
                                <option *ngFor="let opt of newOptions; let i = index" [value]="i">Seçenek {{ i + 1 }}
                                </option>
                            </select>
                        </div>


                        <button type="submit" class="btn btn-primary mt-2" style="margin-bottom: 15px;">Soruyu Havuz
                            Ekle</button>
                    </div>
                    <div *ngIf="successMessage" class="alert alert-success mt-2">{{ successMessage }}</div>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
                </form>
            </div>
        </div>
    </div>
</div>